.card {
    background-color: rgb(35, 35, 41);
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    color: white;
    width: 90%; /* Ajuste a largura para se adaptar a telas menores */
    margin: auto;
    margin-top: 3%;
}

.card-header {
    font-weight: bold;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 20px;
}

.card-body {
    padding: 20px; /* Reduz o preenchimento para economizar espaço */
}

.step {
    margin-bottom: 20px; /* Adiciona espaço entre os passos */
}

.step span {
    display: block; /* Coloca cada parte do passo em uma linha */
    margin-bottom: 10px; /* Adiciona espaço entre as partes do passo */
}

.custom-button {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #b99541;
    color: white;
    width: 100%; /* Ocupa toda a largura disponível */
}

.input-container {
    display: flex;
    flex-direction: column; /* Empilha o input e o botão verticalmente */
    align-items: stretch; /* Estica os itens para ocupar toda a largura */
    margin-top: 15px; /* Adiciona espaço entre os passos */
}

input[type="text"] {
    color: black;
    /* Cor do texto do input */
}

h4 {
    font-weight: bold;
    color: red;
    margin-bottom: 20px;
}
