<div class="card">
    <div class="card-header">
        Configurações
    </div>
    <div class="card-body">
        <h4>Ative sua Conta</h4>
        
        <!-- Passos -->
        <div class="step">
            <span style="font-weight: 600;">1° Passo - </span>
            <span>Cadastre-se na Corretora</span>
            <button style="background-color: #b99541" mat-flat-button color="primary" (click)="corretora()">CORRETORA</button>
        </div>

        <div class="step">
            <span style="font-weight: 600;">2° Passo - </span>
            <span>Faça seu Primeiro depósito</span>
            <button style="background-color: #b99541" mat-flat-button color="primary" (click)="corretora()">FAÇA SEU DEPÓSITO</button>
        </div>

        <div class="step">
            <span style="font-weight: 600;">3° Passo - </span>
            <span>Insira o Email Utilizado no Cadastro e Anexe o Comprovante</span>
            <div class="input-container">
                <span class="p-input-icon-left">
                    <input placeholder="Email" type="text" pInputText [(ngModel)]="email" />
                </span>
                <p-fileUpload styleClass="custom-button" mode="basic" chooseLabel="Comprovante" accept="image/*"
                    (onUpload)="onUpload($event)"></p-fileUpload>
            </div>
        </div>
    </div>
</div>
