.card {
    background-color: rgb(35, 35, 41);
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    color: white;
    width: 90%;
    margin: auto;
    margin-top: 3%;
}

.card-header {
    font-weight: bold;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 20px;
}

.card-body {
    padding: 20px;
}

.step {
    margin-bottom: 20px;
}

.step span {
    display: block;
    margin-bottom: 10px;
}

.custom-button {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #b99541;
    color: white;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-top: 15px;
}

input[type="text"] {
    color: black;
}

h4 {
    font-weight: bold;
    color: red;
    margin-bottom: 20px;
}

::ng-deep .mat-stepper-vertical {
    background-color: rgb(228 228 235) !important;
    border-radius: 20px;
}