.user {
    display: flex;
    justify-content: end;
}

span {
    color: white;
    font-weight: 600;
    font-size: 20px;
    border-color: #b99541;
    border-width: 3px;
    border-radius: 30px;
    width: 20%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-right: 20px;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    span {
        font-size: 16px; /* Ajuste o tamanho do texto para telas menores */
        width: auto; /* Permite que o contêiner do texto se ajuste ao tamanho do texto */
        padding: 5px 10px; /* Reduz o espaço em torno do texto */
    }
}
