// .user {
//     display: flex;
//     justify-content: end;
// }

span {
    color: white;
    font-weight: 600;
    font-size: 20px;
    border-color: #b99541;
    border-width: 3px;
    border-radius: 30px;
    width: 20%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-right: 20px;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    img {
        width: 50% !important;
    }
    span {
        font-size: 16px; /* Ajuste o tamanho do texto para telas menores */
        width: auto; /* Permite que o contêiner do texto se ajuste ao tamanho do texto */
        padding: 5px 10px; /* Reduz o espaço em torno do texto */
    }
}

.container {
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo {
    width: 20%;
    height: auto;
    top: 10px;
    left: 10px;

}

.username {
    top: 10px;
    right: 10px;
}

