li {
  margin-bottom: 20px;
  font-size: 20px;
}

/* Adicione esses estilos ao seu arquivo de estilo do componente (sidebar.component.scss) */

/* Altera a cor de fundo */
::ng-deep .p-sidebar {
  background-color: rgb(55, 55, 63) !important;
  margin-left: 20px;
  border-radius: 50px;
  /* Use !important para garantir que o estilo seja aplicado */
}

/* Altera a cor do texto */
::ng-deep .p-sidebar .p-sidebar-content {
  color: white !important;
  /* Use !important para garantir que o estilo seja aplicado */
}

::ng-deep .p-sidebar .p-sidebar-footer {
  color: white !important;
  /* Use !important para garantir que o estilo seja aplicado */
}

::ng-deep .p-sidebar-mask {
  background-color: transparent !important;
}

li:hover {
  background-color: rgb(119, 119, 124);
  border-radius: 20px;
  color: rgb(55, 55, 63) !important;
  font-weight: 600;
}

