/* Adicione esses estilos ao seu arquivo de estilo do componente (sidebar.component.scss) */

/* Estilo para telas menores */

/* Estilos para telas maiores */
::ng-deep .p-menubar {
  background-color: rgb(55, 55, 63);
  border-radius: 0;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: grid;
  justify-content: center;
  padding: 10px 0;
}

::ng-deep .p-menubar .p-menubar-content {
  color: white !important;
}

::ng-deep .p-menubar .p-menubar-footer {
  color: white !important;
}

::ng-deep .p-menubar-mask {
  background-color: transparent !important;
}

::ng-deep .sidebar-container p-menubar p-menuitem li:hover {
  background-color: rgb(119, 119, 124);
  border-radius: 20px;
  color: rgb(55, 55, 63) !important;
  font-weight: 600;
}


@media (max-width: 768px) {
  ::ng-deep p-menubarsub {
    position: absolute;
    z-index: 1002;
    margin-bottom: 140%;
    width: 100%;
  }
  
  ::ng-deep .p-menubar-root-list {
    background-color: rgb(55, 55, 63);
  
  }
  
  ::ng-deep .p-menuitem-text {
    color: white
  }
}


