<div style="margin-left: 15%; display: grid">
    <span style="color: white;
    font-weight: 600;
    font-size: 30px;
    margin-top: 10px;">BEM-VINDO, LUIZ</span>
    <span style="color: white">Acompanhe como andam nossas operações!</span>
</div>

<div class="card">
    <div class="card-header">
        ASSERTIVIDADE DO DIA
        <!-- <p-toast></p-toast> -->
        <p-menu #menu [model]="items" [popup]="true" class="menu-right"></p-menu>
        <button pButton type="button" (click)="menu.toggle($event)" icon="pi pi-bars" [label]="labelButton" class="menu-button"></button>
    </div>
    <div class="card-body">
        <div class="card-dash">
            <h4>Acertos</h4>
            <span>87</span>
        </div>
        <div class="card-dash">
            <h4>Erros</h4>
            <span>3</span>
        </div>
        <div class="card-dash">
            <h4>Assertividade</h4>
            <span>97%</span>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        Moedas
    </div>
    <div class="card-body">
        <ngx-charts-number-card [results]="single" [cardColor]="cardColor" (select)="onSelect($event)">
        </ngx-charts-number-card>
    </div>

</div>